
@charset "Shift_JIS";

a:link    { color: #0000FF;       }
a:visited { color: #0000FF;       }
a:active  { color: #FF0000;       }
a:hover   { text-decoration:underline;}
a.M       { text-decoration:none;font-size:9pt;}

body{
  color: #000000;
  background-color: #ffffee;
  margin-top:3px;
  background-image: url('../skb_background.gif');
}
table {
  border-style:none;
  border-width:0px;
}
td,th {
  white-space : nowrap;
}
th {
  border-style:outset;
  border-width:1px;
  border-color:#CCCCFF;
  filter:blur(direction=135,strength=2);
}
td {
  border-style:outset;
  border-width:1px;
  border-color:#CCCCFF;
}
h1   { color: #4444FF; margin:3 0 3 0;}
h2   { color: #4444FF; margin:3 0 3 0;}
hr { border		: dashed #4169E1 1px;}
p{margin:3px 0 3px 0;}

#LinkHead    {
  white-space : nowrap;
  font-size:0.8em;
  color:#333333;
  text-align:center;
}

#LinkFoot    {
  border      : dashed #AABBCC 1px;
  width       : 450px;
  margin-left : 0;
  background-color: #EEFFFF;
  font-size:0.9em;
}

#LinkHead a:link, #LinkFoot a:link, #LinkHead a:visited, #LinkFoot a:visited { color: #333333; }

#Turn        { white-space : nowrap; }
#nexttime    { white-space : nowrap; }
#myIsland    { white-space : nowrap; }
#islandView  { white-space : nowrap; }
#newIsland   { white-space : nowrap; }
#changeInfo  { white-space : nowrap; }
#hakoSkin    { white-space : normal; }
#RecentlyLog { white-space : nowrap; }
#HistoryLog  { white-space : nowrap; }

#islandInfo  { white-space : nowrap; text-align : center; }
#islandMap   { white-space : nowrap; text-align : center; }
#AutoCommand { white-space : nowrap; text-align : center; }
#CommentBox  { white-space : nowrap; text-align : center; }
#localBBS    { white-space : nowrap; text-align : center; }

#targetMap   { white-space : nowrap; text-align : center; }

#islandInfo, #islandMap, #islandInfo table, #islandMap table, #localBBS table {
	text-align	: center;
	margin		: auto;
	font-size:0.9em;
}

.title {
	font-size: 2.5em;
	font-style	: italic;
	font-weight	: bold;
	color		: #C0C0C0;
	letter-spacing	: 5px;
	text-transform	: uppercase;
	border		: solid #008B8B;
	border-width	: 0px 0px 1px 0px;
	width		: 650px;
	background-image: url('../skb_bg_title.gif');
	background-position: 100% 100%;
	background-repeat: no-repeat;
}
.title:first-letter {
	color		: #4169E1;
	font-size	: 1.2em;
}

.big {
  font-size:200%;
}

.islName, .islName2, .number, .head, .command, .disaster, .lbbsSS, .lbbsOW,
.attention, .money, .food{ font-weight: bold; }
.islName   { color: #A06040;        }
.islName2  { color: #808080;        }
.number    { color: #0000FF;        }
.head      { color: #000080;        }
.command   { color: #D08000;        }
.disaster  { color: #FF0000;        }
.lbbsSS    { color: #0000FF;        }
.lbbsOW    { color: #FF0000;        }
.attention { color: #FF0000;        }
.normal    { color: #000000;        }
/* ”wŒiF */
.TitleCell   { background-color: #CCFFCC; padding:3px; }
.NumberCell  { background-color: #CCFFCC;        }
.NameCell    { background-color: #CCFFFF;        }
.InfoCell    { background-color: #CCFFFF;text-align:right }
.CommentCell { background-color: #CCFFCC;        }
.InputCell   { background-color: #CCFFCC; font-size:0.9em; }
.MapCell     { background-color: #CCFFCC;        }
.CommandCell { background-color: #CCFFCC;        }
.PopupCell   { background-color: #E0FFFF;        }

.commandjs1  {
  border-width:0px;
  color: blue;
  width: 100%;
  height: 100%;
  white-space : nowrap;
  background-color: #CCFFCC;
  font-size:0.9em;
}
.commandjs2  {
  border-width:0px;
  color: red;
  width: 100%;
  height: 100%;
  white-space : nowrap;
  background-color: #FFFFFF;
  font-size:0.9em;
}

TD.M {
  cursor:default;
  border-style:outset;
  border-width:0px;
  border-color:#CCCCFF;
}

.lbbsST  { color: gray;}

#NaviView{
  visibility: hidden;
  z-index:1;
  position:absolute;
  background-color: #F0FFFF;
  border: solid #4169E1;
  border-width: 10px 1px 1px 1px;
  margin-top : -224px;
}
.NaviTitle {
  font-size: 9pt;
}
.NaviImg {
  margin : 1px;
}
.NaviText {
  font-size: 9pt;
}
#campInfo    { white-space : nowrap; }

td.b { background-color:#FFFFFF; border-width:0px; }
td.e { background-color:#0088FF; border-width:0px; }
td.s { border-width:0px; }

.title2 {  font-size:medium; color: #9999FF; }

#islandViewBf{ white-space : nowrap; }

#changeInfo2 { white-space : nowrap; }

#RecentlyLog2{ white-space : nowrap; margin-left: 30px; }

.SubTCell    { background-color: #E0FFFF; text-align:center; }

.LbbsCell    { background-color: #CCFFFF; text-align:left; }

.star {
  color:#ffdd00;
  width:100%;
  filter:Glow(color=red,strength=3);
}

.head2{
  color : CornflowerBlue;
  padding: 1pt 2pt;
  width: 100%;
  font-weight : bold;
  border-width: 0px 0px 2px 4px;
  border-style: solid;
  border-color: #369 #69c;
  font-size: 14pt;
}

.bar1{
  background-color: #EEFFFF;
  border-color : Lightskyblue;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  padding: 2px;
  font-size: 12pt;
}
.bar2{
  border-color : Lightskyblue;
  border-style: solid;
  border-width: 0px 0px 0px 5px;
  width: 100%;
  padding: 0px 0px 0px 5px;
  font-size: 12pt;
}
.lineColor      { background-color: steelblue;}
.tdHeaderColor  { background-color: skyblue;}
.cellColor      { background-color: white;}

.headPointCellcolor{ background-color: #9999ff;}
.headNameCellcolor { background-color: #99cc99;}
.pointCellcolor    { background-color: #ffffff;}
.nameCellcolor     { background-color: #ccffff;}
.TotalPointColor   { color: #ff0000;           }
.PointColor        { color: #000000;           }
.ExternalPointColor{ color: #ff0000;           }

.TomorrowColor     { color: #ff0000;           }
.TodayColor        { color: #0000ff;           }
.YesterdayColor    { color: #00ff00;           }

.ab    { position:absolute;text-decoration:none;}

#mapStatistics{ white-space : nowrap; }

#fightmode{ white-space : nowrap; }

#fightlog{ white-space : nowrap; }

#fightlogS{ white-space : nowrap; }